<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Shoe Depot</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Shoe Depot Tracking</h1>
                <h4><em>For the feet, by the people</em></h4>
            </div>
            <h4>Add or view all <a href="/stores">stores</a></h4>
            <br>
            <h4>Add or view all <a href="/shoes">shoe brands</a></h4>
        </div>
    </body>
</html>
