<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Shoes</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Shoe Depot Tracking -<h1>
                <h6><em>"For the feet, by the people"</em></h6>
                <h3><u>List of Shoe Brands</u></h3>
            </div>

            {% if shoes is not empty %}
                <h4>Here are all of the quality shoes we distribute:</h4>
                <ul>
                    {% for shoe in shoes %}
                        <li> <a href="/shoe/{{ shoe.getId }}"> {{ shoe.getBrand }}</a> </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no shoes yet, we've got some work to do!</p>
            {% endif %}
            <br>
            <h4>Add a new shoe brand:</h4>
            <form action='/shoes' method="post">
                <input placeholder="Shoe Brand Name" type="text" name='brand' id='brand' require>
                <input placeholder="Shoe Price" type="text" name='price' id='price' require>
                <br><br>
                <button type="submit" class="btn btn-success">Cha ching!</button>
            </form>
            <br>
            <form action="/delete_shoes" method="post">
                <button type="submit" class="btn btn-danger">Remove all shoes</button>
            </form>
            <br>
            <h4><a href="/">Return</a> to main page</h4>
        </div>
    </body>
</html>
