<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Shoe Depot Stores</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Shoe Depot Tracking -<h1>
                <h6><em>"For the feet, by the people"</em></h6>
                <h3><u>{{ store.getName }} Info Page</u></h3>
            </div>
        </div>
    </body>
</html>
